.thr_wrapper h1 {
    text-align: center;
}

.techr-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.techr-switch input {
    display: none;
}

.techr-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
    transition: 0.3s;
    border-radius: 34px;
}

.techr-slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background: white;
    transition: 0.3s;
    border-radius: 50%;
}

input:checked+.techr-slider {
    background: #007cba;
}

input:checked+.techr-slider:before {
    transform: translateX(26px);
}
